<h3 *ngIf="header">{{ header }}</h3>
<div *ngIf="movies">
    <img src="/assets/images/nav-icon.png" style="position: absolute;float:right;margin-top:40px;" [ngStyle]="{ visibility : arrowvisibility }"
        (click)="LeftArrowClicked(this)" id="LArrow">
    <img src="/assets/images/RArrow.png" id="rArrow" (click)="RightArrowClicked(this)"
        style="float:right;margin-top:40px;">
    <div class="container">
        <div class="card" *ngFor="let movie of weeks">
            <img *ngIf="movie.poster_path" class="zoom" src="{{ secure_base_url + movie.poster_path}}" alt=""
                width="150px;" height="200px;">
            <img *ngIf="movie.profile_path" class="zoom" src="{{ secure_base_url + movie.profile_path}}" alt=""
                width="150px;" height="200px;">
        </div>
    </div>
</div>