
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
.slick-slider {
  width: 90%;
  margin: auto;
  background: #000;
}
 
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
 
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
.prev-slide {
  background: url(../assets/images/nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
 
.next-slide {
  background: url(../assets/images/nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}
 
.prev-slide:hover {
  background-position: 0px -53px;
}
 
.next-slide:hover {
  background-position: -24px -53px;
}