<h3> Top weekly Picks For You</h3>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div  ngxSlickItem *ngFor="let movie of allWeeklyTops" class="slide">
        <img class="zoom" src="{{ secure_base_url + movie.poster_path}}" alt="" width="65%">
    </div>
</ngx-slick-carousel>
<h3> Top Weekly Movie Picks For You</h3>
<ngx-slick-carousel class="carousel" #slickModal1="slick-carousel" [config]="slideConfig">
    <div  ngxSlickItem *ngFor="let movie of allWMovies" class="slide">
        <img class="zoom" src="{{ secure_base_url + movie.poster_path}}" alt="" width="65%">
    </div>
</ngx-slick-carousel>
<h3> Top weekly Tv Shows For You</h3>
<ngx-slick-carousel class="carousel" #slickModal2="slick-carousel" [config]="slideConfig">
    <div  ngxSlickItem *ngFor="let movie of allWTvShows" class="slide">
        <img class="zoom" src="{{ secure_base_url + movie.poster_path}}" alt="" width="65%">
    </div>
</ngx-slick-carousel>
<h3> Weekly Top Persons For You</h3>
<ngx-slick-carousel class="carousel" #slickModal3="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let movie of allWTopPersons" class="slide">
        <img class="zoom" src="{{ secure_base_url + movie.profile_path}}" alt="" width="65%">
    </div>
</ngx-slick-carousel>
<h3> Top Daily Picks For You</h3>
<ngx-slick-carousel class="carousel" #slickModal4="slick-carousel" [config]="slideConfig">
    <div  ngxSlickItem *ngFor="let movie of allDailyTops" class="slide">
        <img class="zoom" src="{{ secure_base_url + movie.poster_path}}" alt="" width="65%">
    </div>
</ngx-slick-carousel>
<h3> Top Daily Movie Picks For You</h3>
<ngx-slick-carousel class="carousel" #slickModal5="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let movie of allMovies" class="slide">
        <img class="zoom" src="{{ secure_base_url + movie.poster_path}}" alt="" width="65%">
    </div>
</ngx-slick-carousel>
<h3> Top Daily Tv Shows For You</h3>
<ngx-slick-carousel class="carousel" #slickModal6="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let movie of allTvShows" class="slide">
        <img class="zoom" src="{{ secure_base_url + movie.poster_path}}" alt="" width="65%">
    </div>
</ngx-slick-carousel>
<h3> Daily Top Persons For You</h3>
<ngx-slick-carousel class="carousel" #slickModal7="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let movie of allTopPersons" class="slide">
        <img  class="zoom" src="{{ secure_base_url + movie.profile_path}}" alt="" width="65%">
    </div>
</ngx-slick-carousel>